body {
	padding: 0;
	margin: 0;
	text-align: center;
}

.header {
	padding: 10px;
	background-color: silver;
}

.header button {
	padding: 10px;
}

canvas {
	margin-top: 10px;
	background-color: silver;
	border: solid 1px gray;
}